* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.NavContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding: 10px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.nav {
  display: flex;
}
.navLi {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.li {
  display: inline;
  margin: 0 10px;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}
a:hover {
  color: #ffd700; /* Change the color on hover */
}
.active-link {
  border-bottom: 2px solid #ffd700;
}
.Product {
  margin-left: 25%;
  margin-top: 1%;
  border: 2px red hidden;
  width: 45vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.item {
  width: 200px;
  height: 250px;
}
.item img {
  width: 100px;
  height: 250px;
}
.Product img {
  width: 200px;
  height: 150px;
}
/* shoppingCart */

.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 15%;
  height: fit-content;
  position: absolute;
  top: 11.3%;
  right: 0%;
  display: none;
}
aside.active {
  display: block;
}

#asideHead {
  float: right;
  margin-right: 10px;
}
.btnX {
  position: absolute;
  right: 0;
  top: 9%;
  width: 10%;
  background-color: beige;
}

.cartItemImage {
  width: 12rem;
  height: 8rem;
}
#CartItems {
  margin-top: 2.5rem;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex-wrap: wrap;
}
#CartItems li {
  list-style: none;
  padding-left: 1rem;
  font-size: 1.5rem;
}
.item h2 {
  color: rgb(112, 44, 44);
}
#CartItems button {
  width: fit-content;
  position: relative;
  left: 45%;
  margin: 1%;
}

#CartItems button {
  width: fit-content;
  position: relative;
  left: 45%;
  margin: 1%;
}
.totalPrice {
  border-top: 2px groove #9fa478;
}
.ProductS img {
  width: 200px;
  height: 150px;
}
.ProductS {
  margin-left: 25%;
  margin-top: 1%;
  border: 2px red solid;
  width: 40vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.productItem {
  width: 200px;
  height: 250px;
}
