* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.logoImg {
  position: sticky;
  border: 2px rebeccapurple hidden;
}
#logo {
  width: 5rem;

  position: sticky;

  z-index: 5;
}
.NavContainer {
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  flex-wrap: wrap;
  color: #fff;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.nav {
  display: flex;
}
.navLi {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.li {
  display: inline;
}
a {
  margin: 1rem;
  text-decoration: none;
  color: #1f1111;
  font-size: 2rem;
  font-weight: bold;
  transition: color 0.3s ease;
}
a:hover {
  color: #ffd700; /* Change the color on hover */
}
.active-link {
  border-bottom: 2px solid #ffd700;
}

label {
  margin-right: 10px;
}

select {
  padding: 5px;
  font-size: 14px;
}

.slectFitler {
  position: absolute;
  left: 20%;
  top: 13%;
  border: 2px hidden #ccc;
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 1rem;
}
.btnX {
  padding-right: 1rem;
  background-color: rgb(249, 249, 243);
  border: 2px hidden #ccc;
}
#Product {
  display: flex;
  flex-wrap: wrap;
  border-top: 9px outset rgba(26, 75, 164, 0.73);
  border-bottom: 2px groove #1c6ea4;
  border-radius: 0px 0px 15px 15px;
  width: 40%;
  height: 70%;
  position: absolute;
  left: 20%;
  top: 18%;
}

.product {
  border: 1px hidden #ccc;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  width: 200px;
}

#cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 15%;
  height: fit-content;
  position: absolute;
  top: 11.3%;
  right: 0%;
  display: none;
}
#cart.active {
  display: block;
}

#cartItems {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.remove-btn {
  border: none;
  cursor: pointer;
}

#totalPrice {
  font-weight: bold;
}

.product img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  #Product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    flex-wrap: wrap;
    position: absolute;
    top: 4rem;
  }
  .product img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  .slectFitler {
    border: 2px hidden #ccc;
    font-size: 0.5rem;
    color: red;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 1rem;
    position: absolute;
    top: 1rem;
  }
  .NavContainer {
    display: none;
  }
  .label {
    display: none;
  }
  .btnX {
    padding-left: 4rem;
  }
  #cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 15%;
    height: fit-content;
    position: absolute;
    top: 11.3%;
    right: 30%;
    display: none;
  }
  #cart.active {
    display: block;
  }
}
